* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #87CEEB;
    height: 190vh;
    width: 250rem;
    display: grid;
    grid-template-columns: repeat(80, 50px);
    grid-template-rows: repeat(36, 50px);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

img {
    object-fit: cover;
    width: 3rem;
}

#img1 {
    position: fixed;
    top: 2.3rem;
    left: 1rem
}

#img3 {
    position: fixed;
    top: 5.3rem;
    left: 1rem;
}

#img2 {
    position: fixed;
    top: 8.3rem;
    left: 1rem;
}

#img4 {
    position: fixed;
    top: 11.3rem;
    left: 1rem;
}

.font {
    width: 100%;
    height: 100%;
}

a {
    color: white;
    border: 1px solid #707070;
    position: fixed;
    background-color: #A0A0A0;
    height: 2.5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}